
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faunatrack</title>
    <!-- Lien CDN pour Tailwind CSS pour une intégration simple -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
    <script src="{% static 'admin/js/core.js' %}"></script>
    <script src="{% url 'admin:jsi18n' %}"></script>  {# see note below #}
</head>
<body class="bg-gray-100">
    <header class="bg-white shadow">
        <nav class="container mx-auto px-6 py-3">
            <div class="flex justify-between items-center">
                <a class="text-gray-800 text-xl font-bold" href="{% url 'home' %}">Accueil{% if request.user.is_authenticated %} Hello {{user}}{% endif %} </a>
                <div class="flex gap-4">
                    <a class="text-gray-800 hover:text-gray-600" href="{% url 'projet_list' %}">Projets</a>
                    <a class="text-gray-800 hover:text-gray-600" href="{% url 'admin:index' %}">Admin</a>
                    {% if request.user.is_authenticated %}
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    {% else %}
                    <a class="text-gray-800 hover:text-gray-600" href="{% url 'login' %}">Login</a>
                    {% endif %}
                    <!-- Ajoutez d'autres liens de navigation ici -->
                </div>
            </div>
        </nav>
    </header>

    <main class="container mx-auto px-6 mt-4 min-h-screen">
        {% block content %}
        <!-- Le contenu spécifique à chaque page viendra ici -->
        {% endblock %}
    </main>

    <footer class="bg-white shadow mt-8 py-4">
        <div class="container mx-auto px-6 text-center">
            <span class="text-gray-700 text-sm">Pied de page de mon application Django.</span>
        </div>
    </footer>

</body>
</html>
