{% extends 'base.html' %}

{% block content %}

<h1>Liste des Projets</h1>
<a href="{% url 'projet_create' %}" class="text-blue-500">Créer un Projet</a>
<div class="my-4">
    {% for projet in object_list  %}
        <h2>{{ projet.titre }}</h2>
        <p>{{ projet.description }}</p>
        <ul>
        {% for observation in projet.observations.all %}
            <li> {{ observation }} </li>
        {% endfor %}
        </ul>
    {% empty %}
        <p>Aucun projet trouvé.</p>
    {% endfor %}
    <h2></h2>
</div>
{% endblock %}
