{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Créer un nouveau projet</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        {% comment %} {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="mt-1">
                    {{ field }}
                    {% if field.help_text %}
                        <p>{{ field.help_text }}</p>
                    {% endif %}
                    {% for error in field.errors %}
                        <p class="text-sm text-red-600">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %} {% endcomment %}
        <div >
            <button type="submit">Créer</button>
            <a href="{% url 'projet_list' %}">Annuler</a>
        </div>
    </form>
</div>
{% endblock %}
